.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile-image {
  height: 80px;
  width: 80px;
  margin-top: 4px;
  margin-bottom: 12px;
}

.profile-heading {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
  margin-top: 4px;
  margin-bottom: 12px;
  text-align: center;
}

.profile-description {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  color: #8e8e8e;
  margin-top: 4px;
  margin-bottom: 12px;
  text-align: center;
}
